metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "sqlite"

replication_factor = 3

rpc_bind_addr = "0.0.0.0:3901"
rpc_public_addr = "{{ private_ip }}:3901"
rpc_secret = "{{ garage_rpc_secret }}"

[s3_api]
s3_region = "garage"
api_bind_addr = "0.0.0.0:3900"

[admin_api]
admin_api_bind_addr = "0.0.0.0:3902"
