port: 7880
bind_addresses:
  - "0.0.0.0"
rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 60000
  use_external_ip: false
  node_ip: "{{ ansible_host }}"
redis:
  address: "{{ private_ip }}:6379"
turn:
  enabled: false
keys:
  "{{ livekit_api_key }}": "{{ livekit_api_secret }}"
webhook:
  api_key: "{{ livekit_api_key }}"
  urls:
    - "http://{{ private_ip }}:8500/worldwide"
